@import url("https://fonts.googleapis.com/css?family=Press Start 2P");

body{
   background-color:beige;
}
h1{
    position: absolute;
    top: 2%;
    left: 22%;
    font-size: 60px;
    font-family: "Press Start 2P", sans-serif;
}
#line1{
    position: absolute;
    border-left: 6px solid rgb(66, 0, 27);
  height: 36%;
  left: 36%;
  top: 32%;
  
}
.line1{
    position: absolute;
    width: 17%;
    height: 6px;
    background-color: rgb(66, 0, 27);;
    left:  30.5%;
    top: 42%;
    border: none;

}
#line2{
    position: absolute;
    border-left: 6px solid rgb(66, 0, 27);;
  height: 36%;
  left: 42%;
  top: 32%;
  
}
.line2{
    position: absolute;
    width: 17%;
    height: 6px;
    background-color: rgb(66, 0, 27);;
    left:  30.5%;
    top: 54%;
    border: none;

}
#box1{
    position: absolute;
    top: 34%;
    left: 31%;
    width: 49px;
    height: 45px;
    font-size: 60px;
    text-align: center;
    border-width: 0px;
    border: none;
    outline: none;
    background-color: beige;
    
}
#box2{
    position: absolute;
    top: 34%;
    left: 37%;
    width: 49px;
    height: 45px;
    font-size: 60px;
    text-align: center;
    border-width: 0px;
    border: none;
    outline: none;
    background-color: beige;
    
}
#box3{
    position: absolute;
    top: 34%;
    left: 43%;
    width: 49px;
    height: 45px;
    font-size: 60px;
    text-align: center;
    border-width: 0px;
    border: none;
    outline: none;
    background-color: beige;
    
}
#box4{
    position: absolute;
    top: 46%;
    left: 31%;
    width: 49px;
    height: 45px;
    font-size: 60px;
    text-align: center;
    border-width: 0px;
    border: none;
    outline: none;
    background-color: beige;
    
}
#box5{
    position: absolute;
    top: 46%;
    left: 37%;
    width: 49px;
    height: 45px;
    font-size: 60px;
    text-align: center;
    border-width: 0px;
    border: none;
    outline: none;
    background-color: beige;
    
}
#box6{
    position: absolute;
    top: 46%;
    left: 43%;
    width: 49px;
    height: 45px;
    font-size: 60px;
    text-align: center;
    border-width: 0px;
    border: none;
    outline: none;
    background-color: beige;
    
}
#box7{
    position: absolute;
    top: 58%;
    left: 31%;
    width: 49px;
    height: 45px;
    font-size: 60px;
    text-align: center;
    border-width: 0px;
    border: none;
    outline: none;
    background-color: beige;
    
}
#box8{
    position: absolute;
    top: 58%;
    left: 37%;
    width: 49px;
    height: 45px;
    font-size: 60px;
    text-align: center;
    border-width: 0px;
    border: none;
    outline: none;
    background-color: beige;
    
}
#box9{
    position: absolute;
    top: 58%;
    left: 43%;
    width: 49px;
    height: 45px;
    font-size: 60px;
    text-align: center;
    border-width: 0px;
    border: none;
    outline: none;
    background-color: beige;
    
}
.btt{
    position: absolute;
    top: 70%;
    left: 70%;
    width: 100px;
    height: 50px;
    font-size: 14px;
    background-color: aqua;
    font-family: "Press Start 2P", sans-serif;
    border-color: white;
}